In [1]:
import numpy as np
import pandas as pd

### Representing Dataset into pandas DataFrame

In [5]:
data = {
    'Sport' : ['Baseball', 'Basketball', 'Football', 'Soccer'],
    'Female': [34, 52, 20, 44],
    'Male': [34, 40, 58, 18]
}

df = pd.DataFrame(data)
df.set_index('Sport', inplace=True)
df

            Female  Male
Sport
Baseball        34    34
Basketball      52    40
Football        20    58
Soccer          44    18

### Calculating total counts

In [9]:
df['All'] = df['Male'] + df['Female']
total_females = df['Female'].sum()
total_males = df['Male'].sum()

df

            Female  Male  All
Sport
Baseball        34    34   68
Basketball      52    40   92
Football        20    58   78
Soccer          44    18   62

In [10]:
print("Total Males: ", total_males)
print("Total Females: ", total_females)

Total Males:  150
Total Females:  150

### Calculate P(Male | Baseball)

In [11]:
male_baseball = df.loc['Baseball', 'Male']
baseball_total = df.loc['Baseball', 'All']
p_M_given_B = male_baseball / baseball_total

In [22]:
print("Probability that an individual is male, given that they prefer baseball\n")
print("P(Male | Baseball) is: ", p_M_given_B)

Probability that an individual is male, given that they prefer baseball

P(Male | Baseball) is:  0.5

### Calculate P(Basketball | Female)

In [20]:
female_basketball = df.loc['Basketball', 'Female']
p_B_given_F = round(female_basketball / total_females, 2)

In [24]:
print("Probability that an individual prefers basketball, given that they’re female\n")
print("P(Basketball | Female) is: ", p_B_given_F)

Probability that an individual prefers basketball, given that they’re female

P(Basketball | Female) is:  0.35